<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booktomusic.mapper.MusicMapper">

    <select id="selectMusicByIdx" parameterType="int" resultType="com.booktomusic.dto.MusicDto">

        SELECT
            music_idx AS musicIdx,
            music_title AS musicTitle,
            music_artist AS musicArtist,
            music_url AS musicUrl,
            music_image_url AS musicImageUrl
        FROM music
        WHERE music_idx = #{musicIdx}

    </select>
    
    <select id="selectMusicByTitleAndArtist" resultType="com.booktomusic.dto.MusicDto">
    SELECT
        music_idx,
        music_title,
        music_artist,
        music_url,
        music_image_url
    FROM music
    WHERE music_title = #{musicTitle}
      AND music_artist = #{musicArtist}
    LIMIT 1
	</select>

	<insert id="insertMusic" parameterType="com.booktomusic.dto.MusicDto" useGeneratedKeys="true" keyProperty="musicIdx" keyColumn="music_idx">
    INSERT INTO music (
        music_title,
        music_artist,
        music_url,
        music_image_url
    )
    VALUES (
        #{musicTitle},
        #{musicArtist},
        #{musicUrl},
        #{musicImageUrl}
    )
	</insert>

</mapper>